name: merge to main workflow

on:
  push:
    branches: [main]

env:
  BRANCH_NAME: ${{ github.event.ref.BRANCH_NAME }}

jobs:
  get_config_values:
    uses: NHSDigital/eps-common-workflows/.github/workflows/get-repo-config.yml@2a083514efbae0b9ddacfcc87b9d285767b686b8

  quality_checks:
    uses: NHSDigital/eps-common-workflows/.github/workflows/quality-checks-devcontainer.yml@2a083514efbae0b9ddacfcc87b9d285767b686b8
    needs: [get_config_values]
    with:
      pinned_image: "${{ needs.get_config_values.outputs.pinned_image }}"
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  get_commit_id:
    runs-on: ubuntu-22.04
    outputs:
      commit_id: ${{ steps.commit_id.outputs.commit_id }}
    steps:
      - name: Get Commit ID
        id: commit_id
        run: |
          echo "commit_id=${{ github.sha }}" >> "$GITHUB_OUTPUT"

  tag_release:
    needs: [quality_checks, get_commit_id, get_config_values]
    uses: NHSDigital/eps-common-workflows/.github/workflows/tag-release-devcontainer.yml@2a083514efbae0b9ddacfcc87b9d285767b686b8
    with:
      dry_run: true
      pinned_image: "${{ needs.get_config_values.outputs.pinned_image }}"
      branch_name: main
      tag_format: ${{ needs.get_config_values.outputs.tag_format }}
    secrets: inherit

  package_code:
    needs: [tag_release, get_commit_id, get_config_values]
    uses: ./.github/workflows/cdk_package_code.yml
    with:
      VERSION_NUMBER: ${{needs.tag_release.outputs.version_tag}}
      COMMIT_ID: ${{needs.get_commit_id.outputs.commit_id}}
      pinned_image: "${{ needs.get_config_values.outputs.pinned_image }}"

  release_dev:
    needs: [tag_release, package_code, get_commit_id, get_config_values]
    uses: ./.github/workflows/cdk_release_code.yml
    with:
      TARGET_ENVIRONMENT: dev
      VERSION: ${{needs.tag_release.outputs.version_tag}}
      COMMIT_ID: ${{needs.get_commit_id.outputs.commit_id}}
      CDK_APP_NAME: VpcResourcesApp
      CDK_RESOURCE_STACK_NAME: VpcResourcesStack
      DEPLOYED_STACK_NAME: vpc-resources
      LOG_RETENTION_IN_DAYS: 30
      DEPLOY_CDK_CODE: true
      FORWARD_CSOC_LOGS: false
      pinned_image: "${{ needs.get_config_values.outputs.pinned_image }}"
    secrets:
      CDK_DEPLOY_ROLE: ${{ secrets.DEV_CLOUD_FORMATION_DEPLOY_ROLE }}

  release_qa:
    needs: [tag_release, release_dev, package_code, get_commit_id, get_config_values]
    uses: ./.github/workflows/cdk_release_code.yml
    with:
      pinned_image: "${{ needs.get_config_values.outputs.pinned_image }}"
      TARGET_ENVIRONMENT: qa
      VERSION: ${{needs.tag_release.outputs.version_tag}}
      COMMIT_ID: ${{needs.get_commit_id.outputs.commit_id}}
      CDK_APP_NAME: VpcResourcesApp
      CDK_RESOURCE_STACK_NAME: VpcResourcesStack
      DEPLOYED_STACK_NAME: vpc-resources
      LOG_RETENTION_IN_DAYS: 30
      DEPLOY_CDK_CODE: true
      FORWARD_CSOC_LOGS: false
    secrets:
      CDK_DEPLOY_ROLE: ${{ secrets.QA_CLOUD_FORMATION_DEPLOY_ROLE }}
