name: deploy_pr

on:
  pull_request:
    branches: [main]

env:
  BRANCH_NAME: ${{ github.event.pull_request.head.ref }}

jobs:
  get_config_values:
    uses: NHSDigital/eps-common-workflows/.github/workflows/get-repo-config.yml@8404cf6e3a61ac8de4d1644e175e288aa4965815

  dependabot-auto-approve-and-merge:
    uses: NHSDigital/eps-common-workflows/.github/workflows/dependabot-auto-approve-and-merge.yml@8404cf6e3a61ac8de4d1644e175e288aa4965815
    secrets:
      AUTOMERGE_APP_ID: ${{ secrets.AUTOMERGE_APP_ID }}
      AUTOMERGE_PEM: ${{ secrets.AUTOMERGE_PEM }}


  quality_checks:
    uses: NHSDigital/eps-common-workflows/.github/workflows/quality-checks-devcontainer.yml@8404cf6e3a61ac8de4d1644e175e288aa4965815
    needs: [get_config_values]
    with:
      pinned_image: "${{ needs.get_config_values.outputs.pinned_image }}"
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  pr_title_format_check:
    uses: NHSDigital/eps-common-workflows/.github/workflows/pr_title_check.yml@8404cf6e3a61ac8de4d1644e175e288aa4965815

  get_issue_number:
    runs-on: ubuntu-22.04
    outputs:
      issue_number: ${{steps.get_issue_number.outputs.result}}

    steps:
      - uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd
        name: get issue number
        id: get_issue_number
        with:
          script: |
            if (context.issue.number) {
              // Return issue number if present
              return context.issue.number;
            } else {
              // Otherwise return issue number from commit
              return (
                await github.rest.repos.listPullRequestsAssociatedWithCommit({
                  commit_sha: context.sha,
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                })
              ).data[0].number;
            }
          result-encoding: string

  tag_release:
    needs: [get_config_values]
    uses: NHSDigital/eps-common-workflows/.github/workflows/tag-release-devcontainer.yml@8404cf6e3a61ac8de4d1644e175e288aa4965815
    with:
      dry_run: true
      pinned_image: "${{ needs.get_config_values.outputs.pinned_image }}"
      branch_name: ${{ github.event.pull_request.head.ref }}
      tag_format: ${{ needs.get_config_values.outputs.tag_format }}
    secrets: inherit

  get_commit_id:
    runs-on: ubuntu-22.04
    outputs:
      commit_id: ${{ steps.commit_id.outputs.commit_id }}
    steps:
      - name: Get Commit ID
        id: commit_id
        run: |
          echo "commit_id=${{ github.sha }}" >> "$GITHUB_OUTPUT"

  package_code:
    needs: [quality_checks, get_issue_number, get_commit_id, get_config_values]
    uses: ./.github/workflows/cdk_package_code.yml
    with:
      pinned_image: "${{ needs.get_config_values.outputs.pinned_image }}"
      VERSION_NUMBER: ${{needs.get_issue_number.outputs.issue_number}}
      COMMIT_ID: ${{needs.get_commit_id.outputs.commit_id}}

  show_dev_changes:
    needs: [quality_checks, get_issue_number, package_code, get_commit_id, get_config_values]
    uses: ./.github/workflows/cdk_release_code.yml
    with:
      pinned_image: "${{ needs.get_config_values.outputs.pinned_image }}"
      TARGET_ENVIRONMENT: dev
      VERSION: ${{needs.get_issue_number.outputs.issue_number}}
      COMMIT_ID: ${{needs.get_commit_id.outputs.commit_id}}
      CDK_APP_NAME: VpcResourcesApp
      CDK_RESOURCE_STACK_NAME: VpcResourcesStack
      DEPLOYED_STACK_NAME: vpc-resources
      LOG_RETENTION_IN_DAYS: 30
      DEPLOY_CDK_CODE: false
      FORWARD_CSOC_LOGS: false
    secrets:
      CDK_DEPLOY_ROLE: ${{ secrets.DEV_CLOUD_FORMATION_DEPLOY_ROLE }}
